.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.about__video {
    min-height: 526px;
    position: relative;
    flex: 1;
    max-width: 480px;
}

.video-back {
    position: absolute;
    top: 0;
    left: 0;
}

.video-front {
    position: absolute;
    bottom: 0;
    right: 0;
}

.video-link::before {
    content: url('../images/about/player.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-link:hover::before {
    opacity: 0.4;
}

.video-img {
    border-radius: 24px;
}

.about__content {
    padding: 64px 0;
    flex: 1;
    max-width: 580px;
}

.about__text {
    margin-bottom: 40px;
}

/*адаптив*/
@media screen and (max-width: 768px) {
    .about__inner {
        flex-direction: column-reverse;
    } 
 
    .about__video {
        max-width: 100%;
    }

    .video-back {
        left: 50px;
    }
    
    .video-front {
        right: 50px;
    }
    
    .about__content {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .about__inner {
        gap: 40px;
    }

    .about__content {
        padding: 0;
    }

    .about__video {
        min-height: 395px; 
    }

    .about__text {
        margin-bottom: 24px;
    }

    .video-front {
        left: 50%;
        transform: translate(-50%);
        width: 345px;
    }

    .video-back {
        display: none;
    } 
}