.blog {
    background-color: var(--grey-bg);
}

.blog__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.blog__contenet  {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.article {
    display: flex;
    gap: 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white-text);
    box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
}

.article__wrapper {
    padding: 15px 0;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    flex: 1;
}

.article__img {
    border-radius: 6px;
}

.article__img > img {
    border-radius: 6px;
}

.article__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 25px;
}

.article__contenet-link{
    overflow: hidden;
}

.article__contenet-link:hover .article__title {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--green-bg);
}

.article__text {
    max-height: 116px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 143%;
}

.article__footer {
    display: flex;
    justify-content: space-between;
}

.article__date {
    font-weight: 700;
    line-height: 143%;
    color: var(--yellow-text);
}

.article__link {
    font-weight: 700;
    line-height: 143%;
    color: var(--green-bg);
}

.article__link:hover {
    text-decoration: underline;
}

/*адаптив*/
@media screen and (max-width: 1280px) {
    .article__wrapper {
        padding: 0;  
    }
}
 
@media screen and (max-width: 1024px) {
    .blog__contenet  {
        grid-template-columns: repeat(4, 40%);        
    }

    .article {
        flex-direction: column; 
        gap: 15px;
        padding: 0;
    } 

    .article__wrapper {
        padding: 15px;  
        gap: 15px;
    }

    .article__img > img {
        border-radius: 6px 6px 0 0;
    }

    .article__title {
        font-size: 20px;
        margin-bottom: 15px;
    }
}
