/*Заголовки и параграфы*/
.title-group {
    margin-bottom: 40px;
}

.title-group-center {
    text-align: center;
}

.slogan {
    font-size: 24px;
    line-height: 0.83;
    color: var(--yellow-text);
    margin-bottom: 8px;
}

.subtitle {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
}

.text {
    font-size: 18px;
}

/*адаптив*/
@media screen and (max-width: 480px) {
    .title-group {
        margin-bottom: 24px;
    }

    .subtitle {
        font-size: 24px;
    }

    .slogan {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }
}